<h1>Welcome#index (Rails)</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<p><a href="/">/</a>: Rails top page.</p>
<p><a href="/index.php">/index.php</a>: PHP top page.</p>
<p><a href="/phpinfo">/phpinfo</a>: PHP server info.</p>
<p><a href="/welcome/php">/welcome/php</a>: PHP server's reponse.</p>
<p><a href="/internal-server-error-php">/internal-server-error-php</a>: A demo page when an error occurres in PHP</p>
<p><a href="/welcome/error">/welcome/error</a>: A demo page when an error occurres in Rails</p>
